*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.log

app/build/
/build/

*.jks
*.keystore

app/google-services.json

.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/modules.xml
.idea/deviceManager.xml

captures/
.externalNativeBuild/